{% extends "music/header.html" %}
{% load staticfiles %}
{% block content %}
    <head>
        DLGIN: A Deep Learning Approach to Defining Musical Genre
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <p>
        Defining an artist's sound can be difficult. Music, like all forms of art, is
        entirely subjective and classifying it by genre has proven to be an incredibly
        complicated task even for single songs, let alone musicians and groups with
        multiple albums released over the span of decades. For example, which single
        genre does Michael Jackson falls under? Or Prince? How about the Gorillaz,
        whose musical style spans from rap and hip hop to lofi and grunge? An answer
        to these questions will change based on the individual answering them and the
        specific song, or group of songs that pop into their head at the time.
        In this project we propose a computational approach to defining genre, out-
        lining the creation of a deep learning genre identification network (DLGIN).
        DLGIN is a statistical multi-label classification model that uses techniques from
        machine learning, image recognition, and music information retrieval to identify
        songs and groups of songs as a combination of 16 different musical genres, both
        individually and sequentially. We will discuss the creation of DLGIN, as well
        as a few possible applications of such a tool by musicians or music-minded data
        scientists and statisticians in the future.</p>
    <footer></footer>
    </body>
{% endblock %}